<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yeongsik.kotlinseminar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Week1Activity" />
        <activity android:name=".Week2Activity" />
        <activity android:name=".Week3Activity" />
        <activity android:name=".week1.Chapter0Activity" />
        <activity android:name=".week1.Chapter1Activity" />
        <activity android:name=".week1.Chapter2Activity" />
        <activity android:name=".week1.Chapter3Activity" />
        <activity android:name=".week1.Chapter4Activity" />
        <activity android:name=".week1.Chapter5Activity" />
        <activity android:name=".week1.Chapter6Activity" />
        <activity android:name=".week2.Chapter7Activity" />
        <activity android:name=".week2.Chapter8Activity" />
        <activity android:name=".week2.Chapter9Activity" />
        <activity android:name=".week2.Chapter10Activity" />
        <activity android:name=".week2.Chapter11Activity" />
        <activity android:name=".week2.Chapter12Activity" />
        <activity android:name=".week3.Chapter13Activity" />
        <activity android:name=".week3.Chapter14Activity" />
        <activity android:name=".week3.Chapter15Activity" />
        <activity android:name=".week3.Chapter16Activity" />
        <activity android:name=".week3.Chapter17Activity" />
        <activity android:name=".week3.Chapter18Activity" />
        <activity android:name=".week3.Chapter19Activity" />
        <activity android:name=".week3.Chapter20Activity" />
        <activity android:name=".week3.Chapter21Activity" />
    </application>

</manifest>